<header class="container-fluid bg-primary">
    <div class="row justify-content-around align-items-center pt-5">
        <nav class="col-10 bg-success"></nav>
    </div>
</header>

<section class="section container-fluid bg-danger">
    <div class="row align-items-center justify-content-around p-5">
        <div class="element col-12 col-md-3 bg-secondary my-2"></div>
        <div class="element col-12 col-md-3 bg-secondary my-2"></div>
    </div>
</section>

<section class="section container-fluid bg-warning">
    <div class="row align-items-center justify-content-around p-5">
        <div class="element col-12 col-md-3 bg-info my-2"></div>
        <div class="element col-12 col-md-3 bg-info my-2"></div>
        <div class="element col-12 col-md-3 bg-info my-2"></div>
    </div>
</section>

<footer class="footer container-fluid bg-dark"></footer>